body {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    background-color: #141124;
}
@@ -50,24 +46,81 @@
    margin-top: 5%;
    align-items: center;
}
input {
    margin-top: 2%;
    width: 25%;
    background-color: rgb(255, 136, 0);
    padding: 15px 35px;
    color: white;
    border: none;
    font-family: 'Open Sans';
    transition: transform 700ms ease-in-out, box-shadow 700ms ease-in-out, background-color 700ms ease-in-out;
}
input:hover {
    background-color: black;
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.1);
}

.login h2 {
    color: white;
}

.progress {
    margin-top: 3%  ;
    height: .4rem;
    width: 33%;
    background-color: #f5f5f5;
    border-radius: .4rem;
}

.bar {
    width: 0%;
    height: 100%;
    background-color: unset;
    border-radius: inherit;
    transition: .4s ease-in-out;
}

.input-group {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.input-group::before {
    display: flex;
    position: absolute;
    align-items: center;
    content: '\1f512';
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);

}


input#password {
    width: 25%;
    padding: 1rem 1rem 1rem 2.8rem;
    background-color: rgb(255, 136, 0);
    color: white;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

h5 {
    margin: 3rem 0 1.5rem;
}

.password-checker {
    width: 50vw;
    padding: 2rem;
    border-radius: 1rem;
    border: .1rem solid transparent;
    transition: .4s ease-in-out;
}
