* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #141124;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;

    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    width: 100%;
    background-color: #141124;
    color: white;
}

#paragraphs {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}

.paragraph {
    width: 25%;
    display: flex;
    flex-direction: row;
}

.text {
    margin-left: 10px;

}

h2 {
    margin-top: 3%;
}

table {
    table-layout: fixed;
    height: 80%;
    width: 80%;
    margin: 10%;
    /* display: flex;
    align-items: center; */
}

#nilou {
    display: flex;
    align-items: center;
}


td {
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 30px;
    object-fit: cover;
    margin-top: 50px;
}

td img {
    width: 100%;
    height: 100%;
}

.btn {
    margin: 5px;
}

img {
    height: 100%;
    width: 100%;

}

label {
    color: rgb(254, 253, 254);
    margin: 30px 0px;
}

#conteneur {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

/* section{
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 24, 24);
    width: 80vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    

}  */

#jouer {
    margin-top: 100px;
    padding: 30px;
    background-color: rgb(235, 114, 16);
    font-family: 'Open Sans', sans-serif;


}

#jouer:hover {
    box-shadow: white;
}

table {
    border-spacing: 20px;
}

#chrono-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chrono {
    color: rgb(255, 255, 255);
    text-transform: uppercase;

}

#ss {
    display: flex;
    flex-direction: column;
}

/*flip  card*/

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.flipCard {
    transform: rotateY(180deg);
}

* {
    box-sizing: border-box;
}

.openBtn {
    display: flex;
    justify-content: left;
}

.openclose {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openclose:hover {
    opacity: 1;
}