#table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#table td,
#table th {
    border: 1px solid #3621818c;
    padding: 8px;
    background-color: #3621818c;

}

#table tr:nth-child(even) {
    background-color: black;
}

#table tr:hover {
    background-color: blueviolet;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
}

#table th,
td {
    color: white
}